body {
  margin: 0;
}

/* #################### header #################### */
#cont {
  background-color: #c3544b;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.flex_item {
  flex-grow: 1;
}

/* #################### logo #################### */
#logo {
  width: 150px;
  height: auto;
}
#div_logo {
  display: flex;
  justify-content: center;
}

/* #################### logo #################### */
#navbar {
  display: flex;
  justify-content: center;
}
#inner_nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
}
#inner_nav a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #edab18;
}

/* #################### btn #################### */
#btn {
  padding: 5px;
}
#header_btn {
  background-color: #edab18;
  border: 1px solid rgba(0, 0, 0, 0.055);
  box-shadow: 1px 1px 3px #ec9c2565;
  padding: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #c3544b;
  width: 100%;
}

/* #################### phone screen #################### */
@media (min-width: 600px) {
  /* #### header #### */
  #cont {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* #### logo #### */
  #div_logo {
    justify-content: start;
    flex-grow: 0;
  }

  /* #### nav #### */
  #navbar {
    justify-content: start;
    margin: 0;
  }
  #inner_nav {
    justify-content: start;
    list-style: none;
    padding: 0;
  }
  #inner_nav li {
    flex: 1;
    padding: 10px;
  }
  /* #### btn #### */
  #btn {
    flex-grow: 0;
  }
  #header_btn {
    width: max-content;
  }
}
