/* logo hover effect*/
/* margin to the bottom of #Genre_text ul*/

body {
  margin: 0;
  background-color: #c3544b;
}
.container {
  display: flex;
  flex-direction: column;
}

/* #################### header #################### */
#cont {
  background-color: #2b312e;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.flex_item {
  flex-grow: 1;
}

/* #################### logo #################### */
#logo {
  width: 150px;
  height: auto;
}
#div_logo {
  display: flex;
  justify-content: center;
}

/* #################### logo #################### */
#navbar {
  display: flex;
  justify-content: center;
}
#inner_nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
}
#inner_nav a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #edab18;
}
#inner_nav a:hover {
  color: #c3ccc7;
}

/* #################### btn #################### */
#btn {
  padding: 5px;
}
#header_btn {
  background-color: #edab18;
  border: 1px solid rgba(0, 0, 0, 0.055);
  box-shadow: 1px 1px 3px #ec9c2565;
  padding: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #2b312e;
  width: 100%;
}
#header_btn:hover {
  background-color: #c3ccc7;
}

/* #################### phone screen #################### */
@media only screen and (min-width: 768px) {
  /* #### header #### */
  #cont {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .flex_item {
    height: 50px;
  }

  /* #### logo #### */
  #div_logo {
    justify-content: start;
    flex-grow: 0;
    margin-left: 1rem;
  }

  /* #### nav #### */
  #navbar {
    margin: 0;
    align-items: center;
  }
  #inner_nav {
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 2rem;
  }
  #inner_nav li {
    padding: 0 1rem 0;
  }

  /* #### btn #### */
  #btn {
    flex-grow: 0;
    display: flex;
  }
}

/* #################### main #################### */

/* #################### first layout #################### */
#faid {
  background-image: linear-gradient(
      90deg,
      black 0%,
      rgba(255, 255, 255, 0) 150%
    ),
    url(img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  color: #c3ccc7;
}

/* ##### titel ##### */
.faid_item {
  flex-grow: 1;
}
#fade_titel {
  font-size: 3em;
  flex-grow: 2;
  display: flex;
}
#fade_titel h1 {
  margin-left: 1rem;
  align-self: flex-end;
  margin-bottom: 0;
}

/* ##### text ##### */
#fade_text {
  flex-grow: 0;
}
#fade_text p {
  font-size: 2em;
  margin-left: 1rem;
  margin-top: 0;
}
/* ##### btn ##### */
#faid_btn {
  margin-bottom: 2rem;
}
#faid_btn button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  width: 11rem;
  height: 6vh;
  overflow: hidden;
}

/* #################### layout #2 #################### */
#Genre {
  background-color: #8d756b;
  display: flex;
}
.Genre_item {
  color: #f5f5dc;
  text-shadow: 1px 1px 1px #27211e;
  flex: 1;
}

/* ##### img ##### */
#Genre_img {
  background-image: url(img/Genre_img.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* ##### text ##### */
#Genre_text {
  margin-bottom: 3rem;
  height: 100%;
}
#Genre_text h1 {
  font-size: 3rem;
}
#Genre_text ul {
  list-style: none;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
#Genre_text li {
  display: flex;
}
#Genre_text img {
  width: 60px;
  height: 38px;
}
